.section {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.title {
  color: black;

  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
